body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: stretch;
    background-color: #f3f3f3;
}

.sidebar {
    min-width: 30vw;
    flex-grow: 1;
    background-image: url("markus-spiske-FQbfZrFAhxc-unsplash.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 1%;
    color: white;
}

.attribution {
    font-size: x-small;
    justify-self: flex-end;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    font-size:5em;
    
}

.logo > img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    width: auto;
}

.content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content > * {
    box-sizing: border-box;
    padding-left: 3em;
    width: 100%;
}

.fields {
    box-shadow: 0 5px #d6d6d6;
    background-color: white;
    margin-left: -3em;
    padding-left: 2.25em;
}


fieldset {
    border: 0;
    max-width: 60%;
    align-self: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 0.5em 1.5em);
    gap: 15px 15px;
    justify-items: stretch;
    align-items: start;
}

button {
    margin-top: 3em;
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: lightsalmon;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.focus {
    outline: 1px solid lightblue;
}

.error:invalid {
    outline: 1px solid red;
}